.feynman {
  min-height: 890px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  position: relative;
  background-image: url('../../images/feynman.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #f2f2f2 ;
  background-size: 867px 637px;
  padding-top: 100px;
  box-sizing: border-box;
}
